body {
    margin: 0em;
    padding: 0em;
    background-color: #332d2c;
}


img {
    width: 100%;
}


.banner {
    background-color: #efefef;
    height: 7em;
    color: #212121;
    text-align: center;
}

/*banner 文字*/
.banner_text {
    color: #efefef;
    position: relative;
    top: -4.5em;
    left: 60%;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner_img {
    width: 100%;
}