.gallery_div {
  display: flex;
  flex-wrap: wrap;
}
.gallery_image {
  flex: 25vw;
  max-width: 25%;
}
.gallery_image img {
  width: 100%;
  height: 300px;
  filter: contrast(80%);
  object-fit: cover;
  transition: 0.3s;
}

.gallery_image img:hover {
  filter: contrast(100%);
}

@media screen and (max-width: 600px) {
  .gallery_image {
    flex: 25vw;
    max-width: 25vw;
  }
}
@media screen and (max-width: 800px) {
  .gallery_image {
    flex: 100%;
    max-width: 100%;
  }
}
